.displayProducts {
  width: 99%;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main h3 {
  margin-right: 1em;
}

.navlink {
  border: none;
  color: black;
  background-color: var(--yellow);
  padding: 0.3em;
  margin-right: 0.1em;
  border-radius: 10px;
  height: fit-content;
}

.navlink:hover {
  color: black;
  font-weight: bolder;
}

.active {
  background-color: var(--pink);
  color: black;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 10px;
}
