.checkout {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.checkout form {
  margin-bottom: 1em;
}

.checkout span {
  margin-bottom: 1em;
}

.deliveryForm {
  width: 40%;
}

.deliveryForm h3 {
  border-bottom: 2px solid var(--yellow);
  text-align: center;
}

.shoppingCart {
  width: 40%;
  height: 75vh;
  overflow-y: auto;
  margin-top: 1.5em;
  box-shadow: 0 0 10px 2px;
  border: 1px solid var(--grey-dark);
  border-radius: 10px;
}

.shoppingCart h3 {
  text-decoration: none;
  margin-left: 2em;
}


.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.row input {
  width: 99%;
  margin-bottom: 0.5em;
}

.row span {
  width: 99%;
  margin-bottom: 0.5em;
}

.rowTotal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallField {
  margin-right: 1%;
}

.total {
  text-align: right;
}

@media screen and (max-width: 959px) {
  .checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .deliveryForm {
    width: 80%;
    margin-right: 0;
    margin-left: 0;
  }

  .shoppingCart {
    width: 80%;
    margin-right: 0;
    margin-left: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .row input {
    width: 100%;
  }

  .row span {
    width: 100%;
  }
}
