:root {
  --blue: #0094b0;
  --pink-dark: #db75c9;
  --pink: #e1a3d6;
  --yellow: #f3a801;
  --green: #01c086;
  --black: #000;
  --white: #fff;
  --grey-dark: #696969;
  --grey: #a59f9f;
  --grey-light: #e0e0e0;
}

.container {
  min-height: 60vh;
  max-width: 100%;
  margin-bottom: 5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
